<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style>
</style>
<script
src="https://code.jquery.com/jquery-3.7.1.min.js"
integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<body>
<div class="container">
    
    <div id="form-container" class="row">
        <h1>WIC Data Demo</h1>
        <form id="creds-form" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" required><br>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="password">Password</label><br>
                    <input type="password" id="password" name="password" required><br><br>
                </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

    <div id="loading-container" style="display: none;" class="row">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>

    <div id="error-container" style="display: none;" class="row">
        <h2>Sorry, something went wrong!</h2>
    </div>

    <div id="results-container" style="display: none;" class="row">
        <h3>Current Benefits</h3>
        <i>Your current food package includes:</i>
        <ul id="current-benefits-list" class="collection"></ul>
        <h3>Top items</h3>
        <i>The WIC items you've redeemed most frequently are:</i>
        <ul id="top-items-list" class="collection"></ul>
    </div>
</div>

</body>

<script>
    $('#creds-form').submit(function(e){
        e.preventDefault();
        submitCreds()
    });

    function submitCreds(){
        $('#form-container').hide()
        $('#loading-container').show()
        

        postData = {
            'username': $('#username').val(),
            'password': $('#password').val()
        }
        $.ajax({
            url: '/transactions-summary',
            type: 'post',
            data: JSON.stringify(postData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(res){
                topItemsList = $('#top-items-list')
                res.items.slice(0, 10).forEach((item)=>{
                    topItemsList.append(`<li class="collection-item"><b>${item.item}</b> (${item.quantity} ${item.unit})</li>`)
                }) 
                $.ajax({
                    url: '/benefits',
                    type: 'post',
                    data: JSON.stringify(postData),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(res){
                        currentBenefitsList = $('#current-benefits-list')
                        res.benefits.forEach((b)=>{
                            currentBenefitsList.append(`<li class="collection-item">${b.remaining} ${b.unit} ${b.name}</li>`)
                        })  
                    },
                    error: displayError
                }); 
                $('#loading-container').hide()
                $('#results-container').show()
            },
            error: displayError
        });
    }

    function displayError(res) {
        console.log(res)
        $('#loading-container').hide()
        $('#error-container').append(`<span>${res.status}: ${res.responseJSON['error'] || res.responseText}</span>`)
        $('#error-container').show()
    }
</script>
</html>

