<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WIC Dashboard [Demo]</title>
</head>
<style>
    body {
        font-size: calc(14px + 0.390625vw);
    }

    #loading-container{
        text-align: center;
        margin: 20px;
    }

</style>
<script
src="https://code.jquery.com/jquery-3.7.1.min.js"
integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<body>
<div class="container">
    
    <div id="form-container" class="row">
        <h1>WIC Dashboard [Demo]</h1>
        <form id="creds-form" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <label for="email">Your Email:</label><br>
                    <input type="email" id="email" name="email" required><br>
                </div>               
            </div>
            <div class="col s12">
                <p>
                    To view your WIC benefits and shopping history, your <a href='https://www.wicconnect.com/wicconnectclient/siteLogonClient.recip?state=NEW%20YORK%20WIC&stateAgencyId=1' target="_blank">WIC Connect</a> credentials.
                    <b>We will not store your credentials</b> or use them for any purposes other than pulling your WIC data.
                </p>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="username">WIC Connect Username:</label><br>
                    <input type="text" id="username" name="username" required><br>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="password">WIC Connect Password</label><br>
                    <input type="password" id="password" name="password" required><br><br>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

    <div id="loading-container" style="display: none;" class="row">
        <div class="col s12">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
            <p>Loading... this may take a minute!</p>
        </div>
    </div>

    <div id="error-container" style="display: none;" class="row">
        <h2>Sorry, something went wrong!</h2>
    </div>

    <div id="results-container" style="display: none;" class="row responsive-table">
        <h3>Current Benefits</h3>
        <table class="striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Unit</th>
                    <th>Remaining</th>
                    <th>Issued</th>
                </tr>
              </thead>
              <tbody id="current-benefits-list">

              </tbody>
        </table>
        <h3>CVB Redeemed</h3>
        <i>Total value of fruits and vegetables redeemed since 2019:</i>
        <ul id="cvb-total" class="collection"></ul>
        <h3>Favorite items</h3>
        <i>The WIC items you've redeemed most frequently since 2019:</i>
        <table class="striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Times Purchased</th>
                    <th>Total Amount Purchased</th>
                </tr>
              </thead>
              <tbody id="top-items-list">

              </tbody>
        </table>
    </div>
</div>

</body>

<script>
    let pollingIntervalId;
    let pollRounds = 0;
    const pollIntervalSeconds = 5;
    const totalPollRounds = 10; 


    const stopPolling = () => {
        clearInterval(pollingIntervalId);
    }


    $('#creds-form').submit(function(e){
        e.preventDefault();
        submitCreds()
    });

    function submitCreds(){
        $('#form-container').hide()
        $('#loading-container').show()
        

        postData = {
            'username': $('#username').val(),
            'password': $('#password').val(),
            'email': $('#email').val()
        }
        $.ajax({
            url: '/scrape-attempt',
            type: 'post',
            data: JSON.stringify(postData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: pollScrapedData,
            error: displayErrorFromResponse
        });
    }

    function pollScrapedData(res){
        pollingIntervalId = setInterval(function(){
            if (pollRounds < totalPollRounds){
                syncScrapedData(res.token, res.username);
                pollRounds +=1;
            } else{
                stopPolling()
                displayError('Something went wrong!');
            }
        }, pollIntervalSeconds * 1000)
    }

    function displayErrorFromResponse(res) {
        const message = `${res.status}: ${res.hasOwnProperty('responseJSON') ? res.responseJSON['error'] || res.responseText : res.statusText}`
        displayError(message);
    }

    function displayError(message){
        $('#loading-container').hide()
        $('#error-container').append(`<span>${message}</span>`)
        $('#error-container').show()       
    }

    function syncScrapedData(token, username){
        $.ajax({
            url: '/scrape-attempt',
            type: 'get',
            data: {'token': token},
            success: function(res){
                if(res.status === 'SUCCESS'){
                    currentBenefitsList = $('#current-benefits-list')
                    res.benefits.forEach((b)=>{
                        currentBenefitsList.append(`<tr><td>${b.name}</td><td>${b.unit}</td> <td>${b.remaining}</td><td>${b.issued}</td></tr>`)
                    });
                    topItemsList = $('#top-items-list')
                    res.transactions_summary.slice(0, 10).forEach((item)=>{
                        topItemsList.append(`<tr><td>${item.item}</td><td>${item.times_purchased}</td> <td>${item.quantity} ${item.unit}</td></tr>`)
                    }) 
                    $('#cvb-total').append(`<li class="collection-item">$${res.cvb_total}</lia>`)
                    $('#loading-container').hide()
                    $('#results-container').show() 
                    stopPolling();
                }
                if(res.status === 'FAILURE'){
                    displayError(`Something went wrong: ${res.error_category}`)
                    stopPolling();
                }
            },
            error: displayErrorFromResponse
        }); 
            
    }

</script>
</html>



